# 🔹 Ignorar entorno virtual
venv/
venv_pytrends/

# 🔹 Ignorar archivos de configuración y credenciales
config.yml
secrets.env
*.env

# 🔹 Ignorar datos crudos y procesados (evitar subir archivos grandes)
data/raw/
data/processed/

# 🔹 Ignorar archivos de caché y compilación de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 🔹 Ignorar configuraciones de Visual Studio Code
.vscode/
*.code-workspace

# 🔹 Ignorar caché y logs
*.log
logs/
debug.log

# 🔹 Ignorar dependencias de Jupyter Notebooks
.ipynb_checkpoints/

# 🔹 Ignorar archivos temporales del sistema operativo
.DS_Store  # macOS
Thumbs.db  # Windows

# 🔹 Ignorar informes generados temporalmente
*.html
*.pdf
*.docx

# 🔹 Ignorar caché de R (si trabajas también con R)
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Ignorar archivos de logs y datos sensibles
data/error_log.csv
data/panel_trends_ES.csv
data/proxies.txt
data/proxy_direct.txt


# Ignorar archivos de logs y datos innecesarios
data/download_log.csv
data/log_GTdata.txt
error_log.csv
old_data_test/
scripts/script_cebrian.R
scripts/test.py

# Ignorar estos scripts
scripts/donwnload_trends.R
scripts/keyword_generation.R
scripts/scraper.py


